<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="../../static/css/artistRegister.css" />
        <link rel="stylesheet" href="../../static/css/reset.css" />
        <title>아티스트 등록 페이지</title>
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div></div>
                <h3>아티스트 등록</h3>
            </div>
            <div class="wrap">
                <div class="contentZone">
                    <div class="thumbnail">
                        <img src="iu.png" alt="" />
                        <button class="uploadPhotoBtn">이미지업로드</button>
                    </div>
                    <div class="tab">
                        <ul class="tabnav">
                            <li><a href="#group">그룹</a></li>
                            <li><a href="#">솔로</a></li>
                        </ul>
                        <div class="tabContent">
                            <div id="group">
                                <div class="groupZone">
                                    <div class="groupName">
                                        <label for="">그룹명</label>
                                        <input type="text" />
                                    </div>
                                    <div class="company">
                                        <label for="">소속사</label>
                                        <input type="text" />
                                    </div>
                                    <div class="debutSong">
                                        <label for="">데뷔곡</label>
                                        <input type="text" />
                                    </div>
                                    <div class="debutDay">
                                        <label for="">데뷔일</label>
                                        <input type="text" />
                                    </div>
                                </div>
                                <div class="memberZone">
                                    <div class="memberWrap">
                                        <div class="memberPhoto">
                                            <img src="iu.png" alt="" />
                                            <button>이미지업로드</button>
                                        </div>
                                        <div class="memberInfo">
                                            <input type="checkbox" /> 리더
                                            <div class="memberName">
                                                <label for="">멤버이름</label>
                                                <input type="text" />
                                            </div>
                                            <div class="birthday">
                                                <label for="">생일</label>
                                                <input type="text" />
                                            </div>
                                            <div class="addMember">
                                                <button>+</button>
                                            </div>
                                        </div>
                                        <div class="delBtn">
                                            <button>&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="memberZone">
                                    <div class="memberWrap">
                                        <div class="memberPhoto">
                                            <img src="iu.png" alt="" />
                                            <button>이미지업로드</button>
                                        </div>
                                        <div class="memberInfo">
                                            <input type="checkbox" /> 리더
                                            <div class="memberName">
                                                <label for="">멤버이름</label>
                                                <input type="text" />
                                            </div>
                                            <div class="birthday">
                                                <label for="">생일</label>
                                                <input type="text" />
                                            </div>
                                            <div class="addMember">
                                                <button>+</button>
                                            </div>
                                        </div>
                                        <div class="delBtn">
                                            <button>&times;</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="memberZone">
                                    <div class="memberWrap">
                                        <div class="memberPhoto">
                                            <img src="iu.png" alt="" />
                                            <button>이미지업로드</button>
                                        </div>
                                        <div class="memberInfo">
                                            <input type="checkbox" /> 리더
                                            <div class="memberName">
                                                <label for="">멤버이름</label>
                                                <input type="text" />
                                            </div>
                                            <div class="birthday">
                                                <label for="">생일</label>
                                                <input type="text" />
                                            </div>
                                            <div class="addMember">
                                                <button>+</button>
                                            </div>
                                        </div>
                                        <div class="delBtn">
                                            <button>&times;</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div id="solo">
                                <label for="">이름</label>
                                <input type="text" />
                                <label for="">소속사</label>
                                <input type="text" />
                                <label for="">데뷔곡</label>
                                <input type="text" />
                                <label for="">데뷔일</label>
                                <input type="text" />
                                <label for="">생일</label>
                                <input type="text" />
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="btnWarp">
                <button class="registerBtn">등록하기</button>
            </div>
        </div>
    </body>
</html>
