.container{
    width: 800px;
    height: 500px;
    margin: 50px auto;
    color: gray;
}

.header{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.header > div{
    width: 5px;
    background-color: #ffc2d1;
}

.header > h3{
    font-weight: bold;
    color: #ffa6c1;
    margin: auto 30px;
}

.contentZone{
    display: flex;
    flex-direction: row;
}

.thumbnail{
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.tab{
    margin-left: 5%;
}

.thumbnail > img{
    border-radius: 70px;
}

.uploadPhotoBtn{
    width: 80%;
    margin: 40px 0 20px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid grey;
    font-weight: bold;
    border-radius: 7px;
    color: gray;
}

.tabnav{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.tabnav > li{
    padding: 5px 25px;
    border: 1px solid #ffa6c1;
    color: #ffa6c1;
    border-start-start-radius: 10px;    
    border-start-end-radius: 10px;    
}

.tabnav > li:nth-child(1){
    border: none;
    background-color: #ffa6c1;
    color: #fff;
}

.tabContent{
    overflow: hidden;
}

#group{
    height: 400px;
    box-sizing:border-box;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#group::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

.memberWrap{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.memberInfo{
    width: 65%;
    align-self: flex-start;
    margin: 5px;
}

.memberWrap > div > input{
    margin: 10px;
}

.memberWrap > div > div > input{
    margin: 5px;
}

.memberPhoto{
    width: 20%;
}

.memberPhoto > img{
    padding: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
}

.memberInfo > div > label{
    display: inline-block;
    width: 70px;
}

.memberInfo > div > input{
    width: 68%;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 3px 10px;
}

.delBtn > button{
    width: 10%;
    height: 40px;
    font-size: 40px;
    color: gray;
    background-color: #fff;
    border: none;
    opacity: 0.6;
}

.addMember > button{
    width: 68%;
    background: #fff;
    color: gray;
    border: 1px solid gray;
    font-size: 19px;
    border-radius: 20px;
    float: right;
    margin-right: 17px;
    margin-top: 5px;
}

.memberPhoto > button{
    background: #fff;
    border: 1px solid gray;
    padding: 4px;
    border-radius: 7px;
}

.groupZone{
    padding: 5px 10px;
}

.groupZone > div{
    margin: 7px;
}

.groupZone > div > label{
    display: inline-block;
    width: 70px;
}

.groupZone > div > input{
    width: 75%;
    border-radius: 20px;
    border: 1px solid gray;
    padding: 3px 10px;
}

.btnWarp{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.registerBtn{
    margin: -40px 0 ;
    padding: 10px;
    background-color: #ffa6c1;
    border: 1px solid #ffa6c1;
    border-radius: 7px;
    color: #fff;
}